.footer{
    background-color:#212121;
    padding-top:80px;
}

.footer .f-logo{
    color:white;
    margin-bottom:40px;
}
.footer .footer-links{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin:10px 0px;
    font-weight: 400;
    color:#FF6085;
    transition: 0.3s;
}
.footer .footer-links:hover{
    color:#ffe6ec;
}
.footer .footer-flex{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}
.footer .footer-logos-box{
    display: flex;
    align-items: flex-start;
}
.footer .footer-logos-box .footer-circle{
    height:50px;
    width: 50px;
    border-radius: 50%;
    transition: 0.3s; 
    background-color: #212121;
    border:1px solid #212121;
    margin-right: 15px;
}
.footer .footer-logos-box .footer-circle .footer-logo{
    height:25px;
    width: 25px;
}
.footer .footer-logos-box .footer-circle:hover{
    border:1px solid #FF6085;
}
.footer .footer-line{
    height:1px;
    width: 100%;
    border-radius: 1px;
    background-color:white;
    margin-top:40px;
}
.footer .all-rights-reserved{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    margin-top:20px;
    margin-bottom: 20px !important;
    font-weight: 300;
    color:#fff;
    text-align: center;
}