.login-img{
    height: 100vh;
    width: 100%;
}
.login-box{
    padding-top:20vh;
}
.sign-up-box{
    padding-top: 10vh;
}
.login-heading{
    font-size: 40px;
    line-height: 60px;
    text-align: left;
    font-weight: 600;
    margin-bottom: 50px;
    font-family: 'Poppins', sans-serif;
}
.login-email{
    background-color: white;
    border-radius: 10px;
    border:1px solid #FF6085;
    padding:20px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
    margin-bottom: 20px;
    
}
.login-email:last-child{
    margin-bottom: 0px;
}
.login-email:focus-visible{
    outline:1px solid #ed2b58;
}

#form-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}
.loader {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top:4px solid #3498db;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}